.THIS .image{
    max-height: 373px;
    min-height: 394px;
}

.THIS .prodName{
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    margin-top: 1rem;
    color: rgb(51, 51, 51);
}

.THIS .priceName{
    text-align: center;
    font-size: 1.7rem;
    margin-top: 0.5rem;
    font-family: "Helvetica";
}
.THIS .slds-button_neutral:active, .THIS .slds-button--neutral:active {
    background-color: #4C4C4C!important;
}


.THIS .listTitle{
    color: rgb(85, 85, 85);
    text-align: center;
    font-size: 2.7rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    
}


.THIS .slds-accordion__summary-heading {
    font-size: 2rem!important;
}

.THIS .slds-select_container.slds-select {
   font-size: 1.3rem;
    line-height: 1.5rem;
}